<html>
	<head>
	</head>

	<body>
		<div id="content">
			<div id="section">
				Herzlich Willkommen auf HorseTours! 
				<br>Hier können Sie Ausreittouren und Turniere eintragen. 
			</div>
		</div>
		<div id="menue">
			<%= render 'shared/nav' %>
		</div>
	</body>
</html>