<%= render 'header' %>

<h1>New tour</h1>

<% if user_signed_in? %>
	<%= render 'form' %>
<% else %>
	<%= "Unable to create tour, you are not logged in!" %>
<% end %>

<%= link_to 'Back', tours_path %>