/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
*{
	background-color:#F0F0E8;
}

body{
	text-align:center;
	margin:auto;
}

th {
	padding: 3px;
	min-width: 100px;
}

table, tr, td {
	border: none;
	background-color: white;
}

div label, input, i {
	background-color: white;
}

#header {
	border-bottom: 1px solid silver;
	padding-left: 25px;
	padding-bottom: 0px;
	padding-top: 10px;
	padding-right: 25px;
	margin-bottom: 10px;	
	background-color:#F0F0E8;
}

#new_user, #new_user div{
	background-color: white;
}

#edit_user, #edit_user div {
	background-color: white;
}

#header h3 {
	text-align:left;
	float: left;
}

#header h3 a:link {
	text-decoration: none;
}

#header h3 a:hover, h3 a {
	text-decoration: none;
	background-color: #F0F0E8;
	color: #666666;
}

#header h4 {
	text-align: right;
}

#header h4 a:hover {
	background-color: #F0F0E8;
	color: #666666;
}


#content{
	width:100%;
	position:relative;
}

#section{
	padding: 20px;
	margin-left:12px;
	margin-right:12px;
	background-color:white;
	float:right;
	position:absolute;
	height: auto;
	left: 162px;
	width:70%;
	text-align: left;
	font-size: 14px;
	box-shadow: 10px 0px #666;
}

#section h1, h2 {
	background-color: white;
}

#section a {
	background-color: white;
}


#section ul{
	background-color: white;
	font-size: 16px;
}

#section ul p{
	font-size: 16px;
	background-color: #F8F8F0;
}

#section ul li{
	background-color: white;
	font-size: 16px;
}
#section ul li a{
	background-color: white;
	font-size: 16px;
}
#section ul li a:link{
	text-decoration: none;
}
#section ul li a:hover{
	background-color: white;
	color: black;
}

#menue{
	background-color: #F8F8F0;
	border: 1px solid silver;
	float:left;
	width:150px;
	list-style-type: none;
}
#menue ul {
	background-color: #F8F8F0;
}

#menue ul li{
	padding: 2px;
	background-color: #F8F8F0;
	list-style-type: none;
	color: #666666;
}
#menue ul li a {
	padding: 5px;
	background-color: #F8F8F0;
}


#menue ul li a:hover {
	background-color: #F8F8F0;
	color: black;
}