// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#section p, b {
	background-color: white;
}

#new_tournament {
	background-color: white;
} 

#new_tournament, .actions, .field, .field label{
	background-color: white;
}
.edit_tournament {
	background-color:white;
}
